<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips and Tricks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Tips and Tricks</h1>
        <p class="text-center">Choose a game to learn tips and tricks!</p>

        <div class="d-flex justify-content-center flex-wrap">
            <a href="/tips/carnival/high_card_flush" class="btn btn-primary m-2">high card flush</a>
            <a href="/tips/carnival/mississippi_stud" class="btn btn-success m-2">mississippi stud</a>
            <a href="/tips/carnival/pai_gow" class="btn btn-warning m-2">pai gow</a>
            <a href="/tips/carnival/spanish21" class="btn btn-danger m-2">spanish 21</a>
            <a href="/tips/carnival/three_card_poker" class="btn btn-info m-2">Three Card Poker</a>
            <a href="/tips/carnival/war" class="btn btn-info m-2">War</a>
            <a href="/tips/carnival/ultimate" class="btn btn-info m-2">Ultimate Texas Holdem</a>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="/" class="btn btn-secondary">Back to Main</a>
    </div>
</body>
</html>
