<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craps Tips</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Store Hours</h1>
        <p class="text-center">Hours</p>

        <ul>
            <li>The W store </li>
            <li> </li>
        </ul>
        <h2>Wardrobe Hours</h2>
<ul>
    <li>Monday: 6:30 AM – 6:30 PM</li>
    <li>Tuesday: 6:30 AM – 6:30 PM</li>
    <li>Wednesday: 6:30 AM – 6:30 PM</li>
    <li>Thursday: 6:30 AM – 6:30 PM</li>
    <li>Friday: 6:30 AM – 6:30 PM</li>
    <li>Saturday: 6:30 AM – 6:30 PM</li>
    <li>Sunday: 7:00 AM – 1:00 PM</li>
</ul>


        <div class="text-center mt-4">
            <a href="/" class="btn btn-secondary">Back to main</a>
        </div>
       
    </div>
</body>
</html>